Recoger datos usando request y practicas de dataframe con Python

#100DaysPython Dia 4

In [9]:
import requests
import pandas as pd

url = 'https://www.investing.com/crypto/ethereum/markets'


header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)
#dfs
dataframe = dfs[0]

#limpiamos el dataframe
dataframe = dataframe.drop('Unnamed: 9',axis=1)
dataframe = dataframe.drop('Unnamed: 0',axis=1)
dataframe

,Name,Exchange,Last,High,Low,Chg. %,Vol.,Time
0,Ethereum,Investing.com,1229.75,1230.75,1215.78,+1.79%,2.69M,19:14:23
1,ETH/USD,Binance,1230.05,1289.00,1131.00,+1.78%,1.96M,19:14:00
2,ETH/USD,IDCM,1230.05,1288.89,1149.80,+1.89%,453.23K,19:14:28
3,ETH/USD,Bitfinex,1227.45,1290.00,1143.30,+1.73%,281.10K,19:14:27
4,ETH/USD,Bibox,1202.23,1207.22,1046.43,+9.61%,105.94K,14:11:12
5,ETH/USD,Bilaxy,1229.50,1288.37,1160.59,+1.87%,5.53K,19:14:27

In [25]:
#ver columnas en dataframe
dataframe.columns

Index(['Name', 'Exchange', 'Last', 'High', 'Low', 'Chg. %', 'Vol.', 'Time'], dtype='object')

In [10]:
#ver una coluna especifica
#dataframe['Exchange']

dataframe.iloc[:, [0,2,1]]  # Primera, tercera y segunda columnas

       Name     Last       Exchange
0  Ethereum  1229.75  Investing.com
1   ETH/USD  1230.05        Binance
2   ETH/USD  1230.05           IDCM
3   ETH/USD  1227.45       Bitfinex
4   ETH/USD  1202.23          Bibox
5   ETH/USD  1229.50         Bilaxy

In [20]:
#buscar por indice en dataframe
dataframe.loc[1]

Name         ETH/USD
Exchange     Binance
Last         1202.51
High            1221
Low          1060.39
Chg. %       +12.21%
Vol.           2.38M
Time        20:46:19
Name: 1, dtype: object

In [22]:
#ver los primeros 5 elementos head()
dataframe.head(3)

,Name,Exchange,Last,High,Low,Chg. %,Vol.,Time
0,Ethereum,Investing.com,1202.92,1219.91,1188.88,+10.91%,3.75M,20:46:32
1,ETH/USD,Binance,1202.51,1221.00,1060.39,+12.21%,2.38M,20:46:19
2,ETH/USD,Bitfinex,1203.90,1220.00,1063.00,+11.14%,962.75K,20:46:39

In [23]:
#ver los ultimos 5 elementos tail()
dataframe.tail(3)

      Name Exchange     Last     High      Low   Chg. %     Vol.      Time
3  ETH/USD     IDCM  1202.17  1220.85  1061.11  +12.22%  296.90K  20:46:35
4  ETH/USD    Bibox  1202.23  1207.22  1046.43   +9.61%  105.94K  14:11:12
5  ETH/USD   Bilaxy  1202.45  1220.03  1060.23  +11.17%    5.55K  20:46:40